<a href="https://colab.research.google.com/github/Biki4180/BharatIntern/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Str1=("Hello")
if "m" in Str1:
  print("True")
else:
  print("false")

false

In [ ]:
x=10
y=8
print(bin(x))
print(bin(y))
print(bin(x&y),x&y)
print(bin(x|y),(x|y))
print(bin(x^y),x^y)

0b1010
0b1000
0b1000 8
0b1010 10
0b10 2

In [ ]:
a='Hello@'
print(a,(type(a)))
b="haefhhk"
print(b,(type(b)))

Hello@ <class 'str'>
haefhhk <class 'str'>

In [ ]:
#list,Tuple
l=[10,'bikram',5.5]
l[1]='B'+l[1][1:]
print(l)

[10, 'Bikram', 5.5]

In [ ]:
num=float(input("Enter your Marks"))
if num>=60:
  print("First Division")
elif num>=48:
  print("Second Division")
elif num>=30:
  print("Third Division")
else:
  print("Fail")

Enter your Marks15
Fail

In [ ]:
#Range
for n in range(5):
  print(n)
print()
for n in range(1,6):
  print(n)
print()
for n in range(5,51,2):
  print(n)
print()
for n in range(10,-1,-1):
  print(n)

for n in range(1,11):
  print("2*",n,"=",2*n)

0
1
2
3
4

1
2
3
4
5

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

10
9
8
7
6
5
4
3
2
1
0
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [ ]:
#palingdrom number
n=str(input("Enter Text"))
if n == n[-1::-1]:
  print(n, "is paligndrom")
else:
  print(n, "is not a palingdrom number")

Enter Textmum
mum is paligndrom

In [ ]:
d="Bikram123"
x = d.isalnum()
print(x)

#number is Positive or nagative
a=int(input("enter a number"))
if a <= 0:
  print("number is nagative")
else:
  print("number is positive")

1

In [ ]:
n = 'Bikram Maji'
n = n[-1::-1]
m = len(n)
print(m)
for i in range(m):
  print(n[i])
print()

11
i
j
a
M

m
a
r
k
i
B

In [ ]:
n = 'Bikram Maji'
m = n.upper()
print(m)

BIKRAM MAJI

In [ ]:
#find a string position
n = 'Bikram Maji'
x = n.find('i',0)
if x <=0:
  print("Text is Invalide")
else:
  print(x)
#print(n.find('i',2))

1

In [ ]:
#factriol number
a = int(input("Enter a number"))
for i in range(1,a,1):
  a = a*i
print(a)

Enter a number5
120

In [ ]:
#number is even or odd
a = int(input("enter a no"))
if a % 2 == 0:
  print("number is even",type(a))
else:
  print("number is odd")

enter a no6
number is even <class 'int'>

In [ ]:
l=[1,2,3,4,5,6]
for i in l:
  s = i*i
  print(s)

1
4
9
16
25
36

In [ ]:
a = int(input("enter no1"))
b = int(input("enter no2"))
c = int(input("enter no3"))
d = int(input("enter no4"))
if  g
  print()

enter no11
enter no22
enter no33
enter no44
1 2 3 4

In [ ]:
# max number
a = int(input("enter no1"))
b = int(input("enter no2"))
c = int(input("enter no3"))
if  a>b and a>c:
  print(a)
elif b>c:
  print(b)
else:
  print(c)

enter no12

In [ ]:
#leep year or it
a=int(input("enter your no"))
if  (a % 400 == 0) or (a % 100 !=0) and (a % 4 == 0) :
  print("this year ia a leap year")
else:
  print("not leep year")

enter your no2024
this year ia a leap year

In [ ]:
# some numbers are addition
num = input("enter number")
sum = 0
for i in num:
  sum = sum + int(i)
print(sum)

enter number3434
14

In [ ]:
a=26
b='I am bikram, and i was {}'
print(b.format(a))

I am bikram, and i was 26

In [ ]:
#any number divided by 7
a = int(input("enter number"))
if a % 7 == 0:
  print("number is divided is 7: ")
else:
  print("not divided in 7: ")

enter number49
number is divided is 7:

In [ ]:
# Electric bill
a = int(input("enter a number"))
if a <=100:
  print("No charge")
elif a < 200 and a > 100:
  print("Rs 5 per units")
else:
  print("Rs 10 per units")

enter a number220
Rs 10 per units

In [ ]:
#revers number
a = "12345"
n = a[-1::-1]
print(n)

print("")

a = 65894
n = str(a)[::-1]
print(n)

n = 'Bikram Maji'
m = len(n)
print(m)
for i in range (m-1,-1,-1):
  print(n[i])

print("")

n = 'Bikram Maji'
b = n[-1::-1]
print(b)

54321

49856
11
i
j
a
M

m
a
r
k
i
B

ijaM markiB

In [ ]:
#List print and reverse
a = [1,2,3,4,5]
b = len(a)
for i in range(b-1,-1,-1):
  print(a[i])

print("")

a = [1,2,3,4,5]
b = len(a)
for i in range(b):
  print(a[i])

print("")

a = [1,2,3,4,5]
b = a[-1::-1]
print(b)

print("")

a = [1,2,3,4,5]
for i in a:
  print(i)

5
4
3
2
1

1
2
3
4
5

[5, 4, 3, 2, 1]

1
2
3
4
5

In [ ]:
a = int(input("Enter a number"))
for i in range(1,a,1):
  a = a+i
print(a)

Enter a number5
15

In [ ]:
#list
l = []
for i in range(1,101):
  l.append(i)
print(l)

print("")

l = [i for i in range(1,101)]
print(l)

print("")

l = [i for i in range(1,101) if i % 2 == 0]
print(l)

print("")

a = "Bikram"
l = [i for i in a]
print(l)

a = ["bikram","maji"]
a[1] = "M"
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

['B', 'i', 'k', 'r', 'a', 'm']
['bikram', 'M']

In [ ]:
l = [10,20,30,40,50]
b = l.pop(1)
print(b)
print(l)

print("")

l = [10,20,30,40,50]
l.remove(50)
print(l)

print("")

l = [10,20,30,40,50]
l[1] = 90
print(l)

print("")

l = [10,20,30,40,50]
l.insert(1,15)
print(l)

print("")

l = [10,20,30,40,50]
l.append(15)
print(l)

20
[10, 30, 40, 50]

[10, 20, 30, 40]

[10, 90, 30, 40, 50]

[10, 15, 20, 30, 40, 50]

[10, 20, 30, 40, 50, 15]

In [ ]:
l = ["bikram", "biplab", "bandana", "nirmal"]
l.insert(2,"bakul")
print(l)

print("")

l = ["bikram", "biplab", "bandana", "nirmal"]
l.append("bakul")
print(l)

print("")

l = ["bikram", "biplab", "bandana", "nirmal"]
n = ["debi", "bitika"]
l.append(n)
print(l)

print("")

l = ["bikram", "biplab", "bandana", "nirmal"]
n = ["debi", "bitika"]
l.extend(n)
print(l)

print("")

l = ["bikram", "biplab", "bandana", "nirmal"]
n = ("debi", "bitika")
l.extend(n)
print(l)

['bikram', 'biplab', 'bakul', 'bandana', 'nirmal']

['bikram', 'biplab', 'bandana', 'nirmal', 'bakul']

['bikram', 'biplab', 'bandana', 'nirmal', ['debi', 'bitika']]

['bikram', 'biplab', 'bandana', 'nirmal', 'debi', 'bitika']

['bikram', 'biplab', 'bandana', 'nirmal', 'debi', 'bitika']

In [ ]:
#count,max,min,sort,reverse in list:
l = [12,2,34,8,6,8]
print(l[1])

c = l.count(23)
print(c)

c = max(l)
print(c)

c = min(l)
print(c)

l.sort()
print(l)

l.reverse()
print(l)

c = set(l)
print(c)

{2, 34, 6, 8, 12}

In [ ]:
#list iteration
l = [10,20,30,40]
l2 = [5,3,67,74]

t = len(l)
for i in range(t):
  print(l[i],l2[i])

print("")

for i,j in zip(l,l2):
  print(i,j)

10 5
20 3
30 67
40 74

10 5
20 3
30 67
40 74

In [ ]:
n = input("Enter the value")
print(n)
m = n.split()
print(m)

l = []
for i in range(1,4):
  n = input("Enter the value"+str(i)+":-")
  l.append(n)
print(l)

Enter the valueBikram maji
Bikram maji
['Bikram', 'maji']

In [ ]:
n = int(input("Enter your number"))
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print("\r")

# n = int(input("Enter your number"))
# for i in range(n-1,-1,-1):
#   for j in range(0,i+1):
#     print("*",end=" ")
#   print()

Enter your number5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#stack
l=[]
while True:
  c= int(input('''
  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  '''))
  if c==1:
    n=int(input("Enter a number"))
    l.append(n)
    print(l)
  elif c==2:
    if len(l)==0:
      print("Stack Empty")
    else:
      b=l.pop()
      print(b)
      print(l)
  elif c==3:
    if len(l)==0:
      print("Stack Empty")
    else:
      print("Stack last value",l[-1])
  elif c==4:
    if len(l):
      print("Display Stack",l)
  elif c==5:
    break;
  else:
    print("Invellid opp....")

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  7
Invellid opp....

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number10
[10]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number20
[10, 20]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number30
[10, 20, 30]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  2
30
[10, 20]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  2
20
[10]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number20
[10, 20]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number20
[10, 20, 20]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  2
20
[10, 20]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number30
[10, 20, 30]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  1
Enter a number40
[10, 20, 30, 40]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  3
Stack last value 40

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  4
Display Stack [10, 20, 30, 40]

  1 Push Elements
  2 Pop Elements
  3 Peek Elements
  4 Display Elements
  5 Exit
  5

In [ ]:
#Queue
l=[]
while True:
  c= int(input('''
  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  '''))
  if c==1:
    n=int(input("Enter a number"))
    l.append(n)
    print(l)
  elif c==2:
    if len(l)==0:
      print("Empty Queue")
    else:
      del l[0]
      print(b)
      print(l)
  elif c==3:
    if len(l)==0:
      print("Empty Queue")
    else:
      print("First Queue Value",l[0])
  elif c==4:
    if len(l):
      print("Last Queue Value",l[-1])
  elif c==5:
    print("Display Queue",l)
  elif c==6:
    break;
  else:
    print("Invellid opp....")

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  1
Enter a number10
[10]

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  1
Enter a number20
[10, 20]

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  1
Enter a number30
[10, 20, 30]

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  2
20
[20, 30]

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  1
Enter a number40
[20, 30, 40]

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  3
First Queue Value 20

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  4
Last Queue Value 40

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  5
Display Queue [20, 30, 40]

  1 Push Elements
  2 Pop First Elements
  3 Font Elements
  4 Last Elements
  5 Display Queue
  6 Exit
  6

In [ ]:
#Dictionary
d={'name':'Bikram Maji','Dept':'MCA','Age':25}
for i in d:
  print(i)
  print(d[i])

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
b=d['name']
print(b)

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
b=d.get('name')
print(b)

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
for i in d.keys():
  print(i)

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
for i in d.values():
  print(i)

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
for i,j in d.items():
  print(i,j)

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
d.update({'Age':26})
print(d)

print("")

d={'name':'Bikram Maji','Dept':'MCA','Age':25}
d['name'] = 'Biplab'
print(d)

name
Bikram Maji
Dept
MCA
Age
25

Bikram Maji

Bikram Maji

name
Dept
Age

Bikram Maji
MCA
25

name Bikram Maji
Dept MCA
Age 25

{'name': 'Bikram Maji', 'Dept': 'MCA', 'Age': 26}

{'name': 'Biplab', 'Dept': 'MCA', 'Age': 25}

In [ ]:
#Tuple
t=(10,20,30,40,50)
for i in t:
  print(i)

print("")

t=(10,20,30,40,50)
m=len(t)
for i in range(m):
  print(t[i])

print("")

t=(10,20,30,40,50)
l=max(t)
print(l)

print("")

t=(10,20,30,40,50)
l=min(t)
print(l)

print("")

t=(10,20,30,40,50)
l=t.count(10)
print(l)

print("")

t=(10,20,30,40,50)
l=t.index(40)
print(l)

print("")

t=(10,20,30,40,50)
l=sum(t)
print(l)

10
20
30
40
50

10
20
30
40
50

50

10

1

3

150

In [ ]:
#set
s={10,20,30}
l=[30,40,50]
s.update(l)
print(s)

{40, 10, 50, 20, 30}